@import 'variables';

html {
    font-size: 62.5%;
}
  body {
    font-size: 1.6em;
}

header{
    background-color: $pink;
    color: white;
    font-size: 24px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icon{
    margin-left: 60px;
    display: flex;
    align-items: center;
    width: 50%;

    strong{
        font-size: 36px;
    }

}

.welcome{
    &__container{
        height: 750px;
        width: 100%;
        background-image: url(../img/robocafe.jpg);
        background-size: cover;
        background-position: center;
        
    }

    &__box{
        height: 750px;
        width: 100%;
        background-color: rgba(255,255,255,0.4);
        display: flex;  
        align-items: center;
        justify-content: center;
    
        animation: anime1 2s ease;
    }

    &__title{
        font-size: 60px;
        line-height: 110px;
        background-color: rgba(1, 76, 134, .7);
        padding: 10px 30px;
        margin-bottom: 30px;
        color: white;
        
    }
    
    @keyframes anime1 {
        0% {
            opacity:  0;                /* 透明度指定 */
            top: 50px;                  /* 位置指定 */
        }
        100% {
            opacity:  1;                /* 透明度指定 */
            top: 0;                     /* 位置指定 */
        }
    }
      
    
}

.main {
    // &__container {
    //     background-color: $blue;
    // }

    &__1,
    &__2 {
        height: 700px;
        color: rgb(144, 112, 156);
        font-family: 'arial unicode ms';
    }

    &__back-color {
        height: 400px;
        padding: 4em 3em;
        font-weight: bold;
        border: solid 3px #E6CACA;
        margin-top: 100px;
    }

    &__item {
        display: flex;
    }

    &__item-text {
        width: 100%;
        line-height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.5);

    }

    &__item-h3 {
        font-size: 30px;
        margin-top: 70px;
        margin-bottom: 50px;
    }

    &__p {
        width: 85%;
        font-size: 15px;
        margin-bottom: 70px;
        padding-bottom: 70px;

    }

    &__img {
        width: 35%;
        height: 40vh;
        padding:20px 20px;
        position: relative;
    }

    &__3 {
        height: 600px;
        background-image: url(../img/IMG_0933.jpeg);
        background-size: cover;
        background-position: center;
    }

    &__box {
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255,255,255,0.4);

    }

    &__3item-text {
        width: 100%;
        line-height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background-color: rgba(1, 76, 134, .7);
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 80px;
        color: white;
    }

}

.footer{
    &__container{
        height: 50px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: $blue;
        color: white;
    }

    &__right{
        margin-right: 60px;
    }
}

